/**
 * Describe your expression styles below.
 *
 * /!\ IMPORTANT NOTE
 * Do not use #id selector as your expression markup can be displayed multiple time
 * in the same HTML page. Use .class selectors instead.
 */

@font-face {
    font-family: 'Cooper Heavy';
    src: url('assets/cooprblk-webfont.eot');
    src: url('assets/cooprblk-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/cooprblk-webfont.woff') format('woff'),
         url('assets/cooprblk-webfont.ttf') format('truetype'),
         url('assets/cooprblk-webfont.svg#cooperheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Cooper Heavy';
  width : 100%;
  margin : 0px;
  padding : 0px;
}

.box {
  background-color : #fafafa;
  border-radius : 4px;
  box-shadow : 1px 1px 1px #aaa;
  padding : 0px
}

.tutorial
{
  padding : 20px;
  text-align: center;
}

.btn {
  font-family: 'Cooper Heavy';
  border-radius : 4px;
  border : 1px solid #888;
}

.big {
  font-size : 25px;
  width : 80%;
  height : 50px;
}

.success {
  background-color : #b5061b;
  color : #fff;
  text-shadow : 1px 1px 1px #666;
  letter-spacing: 2px;
}

.tutorial img {
  border-radius : 4px;
  box-shadow : 1px 1px 1px #aaa;
}

.bottomButton {
  float : right;
  height : 40px;
  text-align : center;
  font-size : 30px;
  padding : 3px;
}

.help {
  width : 25%;
  background-color : #dadada;
  color : #888
}

.restart {
  width : 60%;
  background-color : #b5061b;
  color : #fafafa
}

.more {
  width : 35%; 
  background-color : #fafafa;
}

.currentScore {
  width : 10%;
  background-color : #fafafa;
}

.bottomButtonr {
  float : left;
  height : 40px;
  text-align : center;
  font-size : 30px;
  padding : 3px;
}

#scores {
  margin : 0px;
  padding : 0px;
  height : 40px;
  width : 100%;
  margin-top : -4px;
  overflow : hidden;
  letter-spacing: 2px;
}

#highscores {
  margin : 0px;
  padding : 0px;
  height : 40px;
  width : 100%;
  margin-top : -4px;
  overflow : hidden;
  letter-spacing: 2px;
  display : none;
}

#c {
  padding : 0px;
  margin : 0px;
}

.scoreCurrent {
  color : #fafafa;
  background-color: #b5061b;
}

.scoreOdd {
  background-color: #dadada;
}

canvas {
  width : 100%;
}

table {
  margin-top : 5px;
  margin-bottom : 5px;
  margin-left : 0px;
  margin-right : 0px;
  border : none;
  width : 100%;
  text-align : left;
  border-collapse : collapse;
  font-size : 20px;
  color : #888;
}

td {
  padding-left : 10px;
  border-collapse: collapse;
  border : none;
}

th {
  padding-left : 10px;
  border-collapse: collapse;
  border : none
}

tr {
  height : 30px;
  vertical-align:  center;
}

.yourScoreTopBar {
  display : none;
  width : 80%;
  position : absolute;
  top : 20px;
  left : 10%;
  font-size : 25px;
  padding-top : 10px;
  padding-bottom : 10px;
  text-align : center
}

.greyOverlay {
  width : 100%;
  height : 100%;
  opacity : 0.9;
  background-color : #aaa;
  position : absolute;
  top : 0px;
  left : 0px;
}

.tutorialPopup {
  position : absolute;
  width : 90%; 
  top : 5%; 
  left : 5%;
}

#container {
  width : 100%; 
  margin : 0px; 
  padding : 0px;
}

#hs {
  display : none; 
  width : 80%;
  position : absolute; 
  top : 100px; 
  left : 10%;
}

#creatorBox {
  display : none;
  width : 80%;
  position : absolute;
  bottom : 10%;
  left : 10%; 
  padding-top : 20px; 
  padding-bottom : 20px;
}

#thumbContainer {
  width : 70px;
  margin-right : 20px; 
  margin-left :20px; 
  float : left
}

img {
  width : 100%;
}