@font-face {
  font-family: 'CasinoHandRegular';
  src: url('fonts/Casino_Hand-webfont.eot');
  src: url('fonts/Casino_Hand-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Casino_Hand-webfont.woff') format('woff'),
  url('fonts/Casino_Hand-webfont.ttf') format('truetype'),
  url('fonts/Casino_Hand-webfont.svg#CasinoHandRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/********************************************************************************
 * video element styles
 ********************************************************************************/
.video_element {
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
}

.mobile.slide_animation .video_element {
  -webkit-transition: opacity 100ms linear, -webkit-transform 100ms linear;
  -moz-transition: opacity 100ms linear, -moz-transform 100ms linear;
  -ms-transition: opacity 100ms linear, -ms-transform 100ms linear;
  -o-transition: opacity 100ms linear, -o-transform 100ms linear;
  transition: opacity 100ms linear, transform 100ms linear;
}
.video_element:not(.selected) {
  cursor: pointer;
}

/********************************************************************************
 * notification tip styles
 ********************************************************************************/
.swipe_notify {
  position: absolute;
  display: none;
  top: 5px;
  left: 50%;
  width: 114px;
  height: 28px;
  margin-left: -57px;

  font-family: "CasinoHandRegular";
  font-weight: normal;
  color: #fff;
  text-align: center;
  line-height: 28px;

  border-radius: 5px;
  text-shadow: 0 0 15px rgba(0,0,0,1);
  z-index: 101;
}

.mobile .swipe_notify {
  display: block;
}

.swipe_notify span {
  font-size: 16px;
  vertical-align: middle;
}

/********************************************************************************
 * desctop style switcher
 ********************************************************************************/
.style_switcher {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 10px;
  width: 176px;
  height: 40px;
  margin-left: -88px;
  background-color: rgba(0,0,0,.6);
  border-radius: 5px;
  z-index: 101;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* fix chrome bug */
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.mobile .style_switcher {
  display: none;
}

.style_switcher .text {
  font-family: "Helevtica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-top: 3px;
}

.scroll_button {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  padding-top: 2px;
}

.scroll_button.to-left {
  left: 0;
}

.scroll_button.to-right {
  right: 0;
}

.style_switcher ul {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 5px;
  width: 80px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 -40px;
  white-space: nowrap;
}

.style_switcher ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  border-radius: 5px;
  background-color: rgba(240,240,240,.3);
  cursor: pointer;
}

.style_switcher ul li.selected {
  background-color: rgba(240,240,240,1);
}
