#logo{
  opacity: .3;
}

/*============================= BUTTONS ==============================*/

.button-add-sticker{
  z-index: 9;
  position: absolute;
  bottom: 60px;
  left: 10px;
}

.desc.hasAudio #listbutton {
  display: none;
}

#stickerArea {
  opacity: 0;
  visibility: hidden;
}

.desc.hasAudio #stickerArea {
  opacity: 1;
  visibility: visible;
}

/*============================== MENU ================================*/

#list {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 376px;
  overflow: hidden;
  background: rgba(30,30,30,1);
  padding: 0;
  margin-right: -288px;
  margin-top: -188px;
  color: white;
  font-size: 16px;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition:    top 0.3s ease-in-out;
  -o-transition:      top 0.3s ease-in-out;
  transition:         top 0.3s ease-in-out;
  z-index: 100;
  padding-top: 100px;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

#list.hidden_list{
  top: -100%;
}

#list ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#list li{
  position: relative;
  line-height: 49px;
  padding: 0 20px 0 47px;
  border-bottom: 1px solid rgba(30,30,30,1);
  cursor: pointer;
  background-color: rgba(50,50,50,1);
  font-family: "Roboto";
  font-size: 16px;
  color: rgb(230,230,230);
}

@media only screen and (min-device-width : 480px) {
  #list li:hover {
    background: rgba(40,40,40,1);
  }
}

#list .logo {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 120px;
  height: 60px;
  background-image: url(../images/logo.png);
  background-size:cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#list .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  line-height: 32px;
  text-align: center;
  color: #787878;
  font-size: 1.4em;
  cursor: pointer;
}

.preplay {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media only screen and (max-device-width : 350px) { /* 320px */
  #list {
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    height: 100%;
    margin: 0;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition:    left 0.3s ease-in-out;
    -o-transition:      left 0.3s ease-in-out;
    transition:         left 0.3s ease-in-out;
  }
  #list.hidden_list{
    top: 0;
    left: -100%;
  }
}

@media only screen and (min-device-width : 350px) and (max-device-width : 480px) { /* 416px */
  #list {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    height: 100%;
    margin: 0;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition:    left 0.3s ease-in-out;
    -o-transition:      left 0.3s ease-in-out;
    transition:         left 0.3s ease-in-out;
  }
  #list.hidden_list{
    top: 0;
    left: -100%;
  }
}
