
/* CUSTOMIZE THE STYLE OF THE PLAYLIST MENU WITH THE FOLLOWING PARAMETERS */


/* To set your logo, simply replace the PNG file named "logo.png" in 
   the "images" folder with your own 328x160px "logo.png". This image
   will appear in the top-left corner of each post and in the 
   header of the playlist menu */


/* ------------------------------------------------------------------- */
/* Menu */
#list {
	/* Menu background color */
  background: rgb(30,30,30);
  
  /* You can set a menu background image by simply adding a 640x640px PNG 
  file named "background.png" in the "images" folder */
}
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* List */
#list li{
	/* Separation lines */
  border-bottom: 1px solid rgb(30,30,30);
  
  /* Items background color */
  background-color: rgb(50,50,50);
  
  /* Font */
  /* Choose one of the fonts below: 
     Roboto   (Sans Serif)
     Gentium  (Serif)
     Sanchez  (Slab Serif)
     Playfair (Modern)
     Playtime (Handwritten) */
  font-family: "Roboto";
  
  /* Text color */
  color: rgb(230,230,230);
}
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* List (interaction) */
@media only screen and (min-device-width : 480px) {
  /* Items background color when the mouse cursor is over */
  #list li:hover {
    background: rgb(90,90,90);
  }
  
  /* Items background color on mouse click */
  #list li:active {
    background: rgb(10,10,10);
  }
}
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* "Close" icon color */
#list .close {
  color: rgb(230,230,230);
}
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* "Play" button */
.ut-audio-skin-preplay .ut-audio-ui-play {
  /* Background color */
  background: rgb(230,230,230);
  
  /* Icon color */
  color: rgb(50,50,50);
}
/* "Play" button when the mouse cursor is over */
.ut-audio-skin-preplay.ut-audio-touch-false .ut-audio-ui-play:hover {
  /* Background color */
  background: rgb(210,210,210);
}
/* "Play" button on mouse click */
.ut-audio-skin-preplay.ut-audio-touch-false .ut-audio-ui-play:active {
  /* Background color */
  background: rgb(190,190,190);
}
/* ------------------------------------------------------------------- */