.ut-audio-skin-myskin.ut-audio-ui {
  width: 100%;
  height: 100%;
  font-family: Arial, helvetica, arial, sans-serif;
  z-index: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ut-audio-skin-myskin.ut-audio-ui div,
.ut-audio-skin-myskin.ut-audio-ui h1,
.ut-audio-skin-myskin.ut-audio-ui a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*----------------------  ADD AND EDIT  -----------------------------------*/

.ut-audio-skin-myskin .ut-audio-ui-add,
.ut-audio-skin-myskin .ut-audio-ui-remove{
  display: none;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.ut-audio-ui-remove:before{
  font-size: 16px;
  vertical-align: middle;
}

.ut-audio-skin-myskin.ut-audio-mode-editor.ut-audio-state-launch .ut-audio-ui-remove,
.ut-audio-skin-myskin.ut-audio-mode-editor.ut-audio-state-seek   .ut-audio-ui-remove,
.ut-audio-skin-myskin.ut-audio-mode-editor.ut-audio-state-play   .ut-audio-ui-remove,
.ut-audio-skin-myskin.ut-audio-mode-editor.ut-audio-state-pause  .ut-audio-ui-remove{
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  z-index: 11;
  color: white;
  background: rgba(0,0,0,0.75);
}

.ut-audio-skin-myskin.ut-audio-mode-editor.ut-audio-state-empty .ut-audio-ui-add,
.ut-audio-skin-myskin.ut-audio-mode-editor.ut-audio-state-error .ut-audio-ui-add {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 103px;
  height: auto;
  padding: 10px;
  background: rgba(0,0,0,0.6);
  border-radius: 5px;
  margin-top: -40px;
  margin-left: -50px;
  font-size: 13px;
  color: rgba(240,240,240,1);
  line-height: 20px;
  font-weight: bold;
  text-shadow: 0 0 0 transparent;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
}

.ut-audio-skin-myskin .ut-audio-ui-add:hover {
  background: rgba(40,40,40,1);
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  box-shadow: -1px 1px 0 0 rgba(30,30,30,1), 1px -1px 0 0 rgba(60,60,60,1);
}

.ut-audio-skin-myskin .ut-audio-ui-add:active {
  color: rgba(20,20,20,1);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.05);
  box-shadow: 1px -1px 0 0 rgba(30,30,30,1), -1px 1px 0 0 rgba(60,60,60,1);
}

.ut-audio-skin-myskin .ut-audio-ui-add[class*="icon_"]:before{
  font-size: 28px;
  display: block;
  padding: 15px 0 5px 0;
}

/*----------------------  ARTWORK  PANEL  -----------------------------------*/

.ut-audio-skin-myskin .ut-audio-ui-artwork {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  display: none;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.5) inset, 0 0 2px 0 rgba(0,0,0,0.5)
}

.ut-audio-skin-myskin.ut-audio-state-launch .ut-audio-ui-artwork,
.ut-audio-skin-myskin.ut-audio-state-seek .ut-audio-ui-artwork,
.ut-audio-skin-myskin.ut-audio-state-play .ut-audio-ui-artwork,
.ut-audio-skin-myskin.ut-audio-state-pause .ut-audio-ui-artwork{
  display: block;
}

/*----------------------  PLAY BUTTON  -----------------------------------*/

.ut-audio-skin-myskin .ut-audio-ui-play {
  display: none;
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: top;
  text-align: center;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  background: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  cursor: pointer;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
}

.ut-audio-skin-myskin.ut-audio-touch-false .ut-audio-ui-play:hover {
  background: rgba(230,15,0,1);
}

.ut-audio-skin-myskin.ut-audio-touch-false .ut-audio-ui-play:active {
  background: rgba(183,15,0,1);
  color: rgba(130,10,0,1);
}

.ut-audio-skin-myskin.ut-audio-state-launch .ut-audio-ui-play,
.ut-audio-skin-myskin.ut-audio-state-seek   .ut-audio-ui-play,
.ut-audio-skin-myskin.ut-audio-state-play   .ut-audio-ui-play,
.ut-audio-skin-myskin.ut-audio-state-pause  .ut-audio-ui-play{
  display: block;
}

.ut-audio-ui-pause-icon,
.ut-audio-ui-play-icon,
.ut-audio-ui-seek-icon{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

.ut-audio-skin-myskin.ut-audio-state-launch  .ut-audio-ui-play .ut-audio-ui-play-icon,
.ut-audio-skin-myskin.ut-audio-state-pause   .ut-audio-ui-play .ut-audio-ui-play-icon{
  display: block;
  padding-left: 10px;
}

.ut-audio-skin-myskin.ut-audio-state-play  .ut-audio-ui-play .ut-audio-ui-pause-icon{
  display: block;
}

.ut-audio-skin-myskin.ut-audio-state-seek .ut-audio-ui-play .ut-audio-ui-seek-icon{
  display: block;
}

/*----------------------- LOADING PANEL ---------------------------------*/

.ut-audio-skin-myskin .ut-audio-ui-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.ut-audio-skin-myskin .ut-audio-ui-loading div {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 50%;
  left: 50%;
  font-size: 30px;
  margin-left: -15px;
  margin-top: -15px;
  vertical-align: middle;
  text-shadow: 0 0 1px rgba(255,255,255,1);
}


.ut-audio-skin-myskin.ut-audio-state-loading .ut-audio-ui-loading {
  display: block;
}

.ut-audio-skin-myskin.ut-audio-state-launch .ut-audio-ui-loading,
.ut-audio-skin-myskin.ut-audio-state-play .ut-audio-ui-loading,
.ut-audio-skin-myskin.ut-audio-state-pause .ut-audio-ui-loading,
.ut-audio-skin-myskin.ut-audio-state-error .ut-audio-ui-loading {
  display: none;
}

/*----------------------- ERROR PANEL ---------------------------------*/

.ut-audio-skin-myskin .ut-audio-ui-error {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 5;
  display: none;
}

.ut-audio-skin-myskin .ut-audio-ui-error div{
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  bottom:10px;
  right: 10px;
  color: #A0A0A0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-size: 18px;
  text-align: right;
}

.ut-audio-skin-myskin.ut-audio-state-loading .ut-audio-ui-error,
.ut-audio-skin-myskin.ut-audio-state-play   .ut-audio-ui-error,
.ut-audio-skin-myskin.ut-audio-state-launch  .ut-audio-ui-error,
.ut-audio-skin-myskin.ut-audio-state-pause   .ut-audio-ui-error{
  display: none;
}

.ut-audio-skin-myskin.ut-audio-state-error .ut-audio-ui-error{
  display: block;
}

/* SOME ADDITIONAL CSS*/

[class*="icon_"]:before{
  line-height: inherit !important;
}

@font-face{
 font-family: "spin";
 src: url(data:font/ttf;base64,AAEAAAAQAQAABAAARkZUTWUz6v4AAAEMAAAAHEdERUYAMQAGAAABKAAAACBPUy8yPidZlQAAAUgAAABWY21hcNARG74AAAGgAAABSmN2dCAG0/8IAAAH6AAAABxmcGdtigp4OwAACAQAAAmRZ2FzcAAAABAAAAfgAAAACGdseWYt/4wFAAAC7AAAAppoZWFk/ry/bAAABYgAAAA2aGhlYQeYA1cAAAXAAAAAJGhtdHgLuAAKAAAF5AAAABBsb2NhAU0AAAAABfQAAAAKbWF4cAEgCkYAAAYAAAAAIG5hbWVlv57qAAAGIAAAAY9wb3N0cXJzqAAAB7AAAAAwcHJlcJKhmv8AABGYAAAAVgAAAAEAAAAAyYlvMQAAAADN1T3mAAAAAM3VPeYAAQAAAA4AAAAYAAAAAAACAAEAAwADAAEABAAAAAIAAAABA+gBkAAFAAgCigK8AAAAjAKKArwAAAHgADEBAgAAAgAFAwAAAAAAAAAAAAAQAAAAAAAAAAAAAABQZkVkAEDoAOgAA1L/agBaA1AAlQAAAAEAAAAAAAAAAAADAAAAAwAAABwAAQAAAAAARAADAAEAAAAcAAQAKAAAAAYABAABAAIAAOgA//8AAAAA6AD//wAAGAMAAQAAAAAAAAAAAQYAAAEAAAAAAAAAAQIAAAACAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAr/awPpA1AAGwA2AFIAbQCHAP9AGTYBAgRUAQIBCRoZAgwBXl0CCgwEQiUBA0BLsAlQWEA4AAMFA2oIBwIFBAVqAAQCBGoAAgACagAABgBqAAYJBmoACQEJag4BAQwBagAMDApRDQsCCgoLCkQbS7AKUFhAPAADBQNqCAcCBQQFagAEAgRqAAIAAmoAAAYAagAGCQZqAAkBCWoOAQEMAWoNAQoKC0MADAwLUwALCwsLRBtAOAADBQNqCAcCBQQFagAEAgRqAAIAAmoAAAYAagAGCQZqAAkBCWoOAQEMAWoADAwKUQ0LAgoKCwpEWVlAIQAAh4aCgHJwb25raFJRUE9DQDg3LConJh0cABsAGxkPECs3NSYnJicmNzYXMx8BFgcGBwYHBhcWDwEGJzUnEzM2NzY3NhcWBxQjBwYnJgcGBwYHBi8BJj8BJTMWFxYXFhcWByMnIicmJyYnJicmPwE2FzIUMxMVBgcGBwYHBi8BNScmNzY3Njc2NzYzFzIdAQEjBiMiJyYnJj8CNhcWFxYXFjcyHwEWByMuDQgJBh5BBQoBAVAIBAcFBAQRJwQIUAgIAXcBHhAQIoueDAIBIAMKExUaDmlRBwdOCQcCAk0BIhAbE3UgAgsCYwoCBAgICC9aBwIfBAsBAfIGCQYQQ4oLBQEeAwkQEBAOSxoCCWIL/koBHh0hG552CQkCUQkGEBASEV1rCQMdAwsCkAEcGxwdnowLBgE7BQoRFA0aZmMJBDgHCgEBAj8aCwwUTRECCwJdCgIBAQICEUIFBToHCQI/FAwUEmyaCwIBChITFg9dOQQJXAsEAf3oARwdEySQTQUKAQFeCQUKDQwPSWcJAQwC/nQDBBNqBwkCOQUGDQoMCC8GCFwKBAAAAAEAAAABAAAUujT1Xw889QALA+gAAAAAzdU95gAAAADN1T3mAAr/awPpA1AAAAAIAAIAAAAAAAAAAQAAA1L/awBaA+gAAP//A+kAAQAAAAAAAAAAAAAAAAAAAAQD6AAAAAAAAAPoAAAD6AAKAAAAAAAAAAABTQAAAAEAAAAEAIgABQAAAAAAAgAeACsAbgAAAIoJkQAAAAAAAAAMAJYAAQAAAAAAAQAIABIAAQAAAAAAAgAHACsAAQAAAAAAAwAjAHsAAQAAAAAABAAIALEAAQAAAAAABQALANIAAQAAAAAABgAIAPAAAwABBAkAAQAQAAAAAwABBAkAAgAOABsAAwABBAkAAwBGADMAAwABBAkABAAQAJ8AAwABBAkABQAWALoAAwABBAkABgAQAN4AZQBuAGoAbwB5AGMAcwBzAABlbmpveWNzcwAAUgBlAGcAdQBsAGEAcgAAUmVndWxhcgAARgBvAG4AdABGAG8AcgBnAGUAIAAyAC4AMAAgADoAIABlAG4AagBvAHkAYwBzAHMAIAA6ACAANQAtADYALQAyADAAMQAzAABGb250Rm9yZ2UgMi4wIDogZW5qb3ljc3MgOiA1LTYtMjAxMwAAZQBuAGoAbwB5AGMAcwBzAABlbmpveWNzcwAAVgBlAHIAcwBpAG8AbgAgADEALgAwAABWZXJzaW9uIDEuMAAAZQBuAGoAbwB5AGMAcwBzAABlbmpveWNzcwAAAAIAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAABAAAAAEAAgECBXNwaW4yAAEAAf//AA8AAAAAAAAAAAAAAAAAAAAAADIAMgNQ/2sDUP9rsAAssCBgZi2wASwgZCCwwFCwBCZasARFW1ghIyEbilggsFBQWCGwQFkbILA4UFghsDhZWSCwCkVhZLAoUFghsApFILAwUFghsDBZGyCwwFBYIGYgiophILAKUFhgGyCwIFBYIbAKYBsgsDZQWCGwNmAbYFlZWRuwACtZWSOwAFBYZVlZLbACLCBFILAEJWFkILAFQ1BYsAUjQrAGI0IbISFZsAFgLbADLCMhIyEgZLEFYkIgsAYjQrIKAAIqISCwBkMgiiCKsAArsTAFJYpRWGBQG2FSWVgjWSEgsEBTWLAAKxshsEBZI7AAUFhlWS2wBCywB0MrsgACAENgQi2wBSywByNCIyCwACNCYbCAYrABYLAEKi2wBiwgIEUgsAJFY7ABRWJgRLABYC2wBywgIEUgsAArI7ECBCVgIEWKI2EgZCCwIFBYIbAAG7AwUFiwIBuwQFlZI7AAUFhlWbADJSNhRESwAWAtsAgssQUFRbABYUQtsAkssAFgICCwCUNKsABQWCCwCSNCWbAKQ0qwAFJYILAKI0JZLbAKLCC4BABiILgEAGOKI2GwC0NgIIpgILALI0IjLbALLEtUWLEHAURZJLANZSN4LbAMLEtRWEtTWLEHAURZGyFZJLATZSN4LbANLLEADENVWLEMDEOwAWFCsAorWbAAQ7ACJUKxCQIlQrEKAiVCsAEWIyCwAyVQWLEBAENgsAQlQoqKIIojYbAJKiEjsAFhIIojYbAJKiEbsQEAQ2CwAiVCsAIlYbAJKiFZsAlDR7AKQ0dgsIBiILACRWOwAUViYLEAABMjRLABQ7AAPrIBAQFDYEItsA4ssQAFRVRYALAMI0IgYLABYbUNDQEACwBCQopgsQ0FK7BtKxsiWS2wDyyxAA4rLbAQLLEBDistsBEssQIOKy2wEiyxAw4rLbATLLEEDistsBQssQUOKy2wFSyxBg4rLbAWLLEHDistsBcssQgOKy2wGCyxCQ4rLbAZLLAIK7EABUVUWACwDCNCIGCwAWG1DQ0BAAsAQkKKYLENBSuwbSsbIlktsBossQAZKy2wGyyxARkrLbAcLLECGSstsB0ssQMZKy2wHiyxBBkrLbAfLLEFGSstsCAssQYZKy2wISyxBxkrLbAiLLEIGSstsCMssQkZKy2wJCwgPLABYC2wJSwgYLANYCBDI7ABYEOwAiVhsAFgsCQqIS2wJiywJSuwJSotsCcsICBHICCwAkVjsAFFYmAjYTgjIIpVWCBHICCwAkVjsAFFYmAjYTgbIVktsCgssQAFRVRYALABFrAnKrABFTAbIlktsCkssAgrsQAFRVRYALABFrAnKrABFTAbIlktsCosIDWwAWAtsCssALADRWOwAUVisAArsAJFY7ABRWKwACuwABa0AAAAAABEPiM4sSoBFSotsCwsIDwgRyCwAkVjsAFFYmCwAENhOC2wLSwuFzwtsC4sIDwgRyCwAkVjsAFFYmCwAENhsAFDYzgtsC8ssQIAFiUgLiBHsAAjQrACJUmKikcjRyNhIFhiGyFZsAEjQrIuAQEVFCotsDAssAAWsAQlsAQlRyNHI2GwBkUrZYouIyAgPIo4LbAxLLAAFrAEJbAEJSAuRyNHI2EgsAQjQrAGRSsgsGBQWCCwQFFYswIgAyAbswImAxpZQkIjILAIQyCKI0cjRyNhI0ZgsARDsIBiYCCwACsgiophILACQ2BkI7ADQ2FkUFiwAkNhG7ADQ2BZsAMlsIBiYSMgILAEJiNGYTgbI7AIQ0awAiWwCENHI0cjYWAgsARDsIBiYCMgsAArI7AEQ2CwACuwBSVhsAUlsIBisAQmYSCwBCVgZCOwAyVgZFBYIRsjIVkjICCwBCYjRmE4WS2wMiywABYgICCwBSYgLkcjRyNhIzw4LbAzLLAAFiCwCCNCICAgRiNHsAArI2E4LbA0LLAAFrADJbACJUcjRyNhsABUWC4gPCMhG7ACJbACJUcjRyNhILAFJbAEJUcjRyNhsAYlsAUlSbACJWGwAUVjIyBYYhshWWOwAUViYCMuIyAgPIo4IyFZLbA1LLAAFiCwCEMgLkcjRyNhIGCwIGBmsIBiIyAgPIo4LbA2LCMgLkawAiVGUlggPFkusSYBFCstsDcsIyAuRrACJUZQWCA8WS6xJgEUKy2wOCwjIC5GsAIlRlJYIDxZIyAuRrACJUZQWCA8WS6xJgEUKy2wOSywMCsjIC5GsAIlRlJYIDxZLrEmARQrLbA6LLAxK4ogIDywBCNCijgjIC5GsAIlRlJYIDxZLrEmARQrsARDLrAmKy2wOyywABawBCWwBCYgLkcjRyNhsAZFKyMgPCAuIzixJgEUKy2wPCyxCAQlQrAAFrAEJbAEJSAuRyNHI2EgsAQjQrAGRSsgsGBQWCCwQFFYswIgAyAbswImAxpZQkIjIEewBEOwgGJgILAAKyCKimEgsAJDYGQjsANDYWRQWLACQ2EbsANDYFmwAyWwgGJhsAIlRmE4IyA8IzgbISAgRiNHsAArI2E4IVmxJgEUKy2wPSywMCsusSYBFCstsD4ssDErISMgIDywBCNCIzixJgEUK7AEQy6wJistsD8ssAAVIEewACNCsgABARUUEy6wLCotsEAssAAVIEewACNCsgABARUUEy6wLCotsEEssQABFBOwLSotsEIssC8qLbBDLLAAFkUjIC4gRoojYTixJgEUKy2wRCywCCNCsEMrLbBFLLIAADwrLbBGLLIAATwrLbBHLLIBADwrLbBILLIBATwrLbBJLLIAAD0rLbBKLLIAAT0rLbBLLLIBAD0rLbBMLLIBAT0rLbBNLLIAADkrLbBOLLIAATkrLbBPLLIBADkrLbBQLLIBATkrLbBRLLIAADsrLbBSLLIAATsrLbBTLLIBADsrLbBULLIBATsrLbBVLLIAAD4rLbBWLLIAAT4rLbBXLLIBAD4rLbBYLLIBAT4rLbBZLLIAADorLbBaLLIAATorLbBbLLIBADorLbBcLLIBATorLbBdLLAyKy6xJgEUKy2wXiywMiuwNistsF8ssDIrsDcrLbBgLLAAFrAyK7A4Ky2wYSywMysusSYBFCstsGIssDMrsDYrLbBjLLAzK7A3Ky2wZCywMyuwOCstsGUssDQrLrEmARQrLbBmLLA0K7A2Ky2wZyywNCuwNystsGgssDQrsDgrLbBpLLA1Ky6xJgEUKy2waiywNSuwNistsGsssDUrsDcrLbBsLLA1K7A4Ky2wbSwrsAhlsAMkUHiwARUwLQAAAEu4AMhSWLEBAY5ZuQgACABjILABI0SwAyNwsgQoCUVSRLIKAgcqsQYBRLEkAYhRWLBAiFixBgNEsSYBiFFYuAQAiFixBgFEWVlZWbgB/4WwBI2xBQBEAAA= ) format('TrueType');
}

.icon-spin::before{
  content: '\e800';  /* 'î €' */
}

.icon-spin{
  font-family: "spin";
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
 /* display: inline-block;*/
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
































