.ut-audio-skin-sticker.ut-audio-state-launch .ut-audio-ui-play,
.ut-audio-skin-sticker.ut-audio-state-seek .ut-audio-ui-play,
.ut-audio-skin-sticker.ut-audio-state-play .ut-audio-ui-play,
.ut-audio-skin-sticker.ut-audio-state-pause .ut-audio-ui-play {
  display: block;
}

.ut-audio-skin-sticker.ut-audio-state-launch .ut-audio-ui-play .ut-audio-ui-play-icon,
.ut-audio-skin-sticker.ut-audio-state-pause .ut-audio-ui-play .ut-audio-ui-play-icon {
  display: block;
  padding-left: 10%;
}

.ut-audio-skin-sticker .ut-audio-ui-play {
  display: none;
  width: 100%;
  height: 100%;
  vertical-align: top;
  text-align: center;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  color: rgba(255,255,255,1);
  font-size: 0.4em;
}

.ut-audio-skin-sticker.ut-audio-state-play  .ut-audio-ui-play .ut-audio-ui-pause-icon {
  display: block;
}

.ut-audio-skin-sticker.ut-audio-state-play  .ut-audio-ui-play .ut-audio-ui-play-icon {
  display: none;
}

.ut-audio-skin-sticker.ut-audio-state-seek .ut-audio-ui-play .ut-audio-ui-seek-icon {
  display: block;
}
