/********************************************************************************
 * fonts
 ********************************************************************************/
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Roboto-Regular.woff') format('woff'), /* Modern Browsers */
  url('Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('Roboto-Regular.svg#f4ba68a9596ca53347cecdb9c6e48d01') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

/********************************************************************************
* container styles
********************************************************************************/
.container {
  visibility: hidden;
  opacity: 0;
}
.container.show {
  visibility: visible;
  opacity: 1;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  /*background-color: rgb(70,70,70);*/
  overflow: hidden;
  font-size: 10px;
  background-color: #ffffff;
}

/********************************************************************************
 * video element styles
 ********************************************************************************/
.video_element {
  position: absolute;
  overflow: visible;

  /* turn on 3D accelerate*/
  -webkit-transform: rotateZ(0);
  -moz-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  -o-transform: rotateZ(0);
  transform: rotateZ(0);
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.video_element .video {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(50,50,50,1);
  box-shadow: 0 0 5px rgba(0,0,0,1) inset;
  color: #f00;
}
a, a:hover, a:active {
  text-decoration: none;
}

/**
 * design styles
 */

/******************** design 1 ********************/
.video_element.video1 {
  padding: 9em 17em 8.1em 6.7em;
  overflow: hidden;
  background-image: url(../images/1_export.png);
}

.video_element.video1 .video {}

.video_element.video1 #videoPlayer {
  overflow: hidden;
}

/******************** design 2 ********************/
.video_element.video2 {
  padding: 6.3em 17.5em 8em 7em;
  overflow: hidden;
  background-image: url(../images/2_export.png);
}

.video_element.video2 .video {}

.video_element.video2 #videoPlayer {
  overflow: hidden;
}

/******************** design 3 ********************/
.video_element.video3 {
  padding: 13em 13em 25em 13em;
  overflow: hidden;
  background-image: url(../images/3_export.png);
}

.video_element.video3 .video {}

.video_element.video3 #videoPlayer {
  overflow: hidden;
}

/******************** design 4 ********************/
.video_element.video4 {
  padding: 6.5em 15.7em 7em 6.7em;
  overflow: hidden;
  background-image: url(../images/4_export.png);
}

.video_element.video4 .video {}

.video_element.video4 #videoPlayer {
  overflow: hidden;
}

/******************** design 4 ********************/
.video_element.video5 {
  padding: 7.7em 17.6em 11.9em 7.2em;
  overflow: hidden;
  background-image: url(../images/5_export.png);
}

.video_element.video5 .video {}

.video_element.video5 #videoPlayer {
  overflow: hidden;
}

/******************** end of designs ********************/
.video_element .video_container {
  position: relative;
  width: 100%;
  height: 100%;
}

#videoPlayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 10px;
}
