/********************************************************************************
* container styles
********************************************************************************/
.container {
  position: relative;
  width: 100%;
  height: 100%;
  /*background-color: rgb(70,70,70);*/
  overflow: hidden;
  font-size: 10px;
  background-color: #ffffff;
}

/********************************************************************************
 * video element styles
 ********************************************************************************/
.video_element {
  position: absolute;
  overflow: visible;

  /* turn on 3D accelerate*/
  -webkit-transform: rotateZ(0);
  -moz-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  -o-transform: rotateZ(0);
  transform: rotateZ(0);
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.video_element .video {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(50,50,50,1);
  box-shadow: 0 0 5px rgba(0,0,0,1) inset;
  color: #f00;
}
a, a:hover, a:active {
  text-decoration: none;
}

/**
 * design styles
 */

/******************** design 1 ********************/
.video_element.video1 {
  padding: 9.3em 17.3em 8.4em 7.0em;
  overflow: hidden;
  background-image: url(../images/1_export.png);
}

.video_element.video1 .video {}

.video_element.video1 #videoPlayer {
  overflow: hidden;
}

/******************** design 2 ********************/
.video_element.video2 {
  padding: 6.6em 17.8em 8.3em 7.3em;
  overflow: hidden;
  background-image: url(../images/2_export.png);
}

.video_element.video2 .video {}

.video_element.video2 #videoPlayer {
  overflow: hidden;
}

/******************** design 3 ********************/
.video_element.video3 {
  padding: 12.9em 12.7em 24.9em 13.2em;
  overflow: hidden;
  background-image: url(../images/3_export.png);
}

.video_element.video3 .video {}

.video_element.video3 #videoPlayer {
  overflow: hidden;
}

/******************** design 4 ********************/
.video_element.video4 {
  padding: 6.8em 16.0em 7.3em 7.0em;
  overflow: hidden;
  background-image: url(../images/4_export.png);
}

.video_element.video4 .video {}

.video_element.video4 #videoPlayer {
  overflow: hidden;
}

/******************** design 4 ********************/
.video_element.video5 {
  padding: 8.0em 17.9em 12.2em 7.5em;
  overflow: hidden;
  background-image: url(../images/5_export.png);
}

.video_element.video5 .video {}

.video_element.video5 #videoPlayer {
  overflow: hidden;
}

/******************** end of designs ********************/
.video_element .video_container {
  position: relative;
  width: 100%;
  height: 100%;
}

#videoPlayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 10px;
}
