.vote {
  display: inline-block;
  font-size: 32px;
  text-decoration: none;
  color: rgb(120,120,120);
  width: 49%;
  height: 50px;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.winner.vote {
  color: green;
}
.looser.vote {
  color: red;
}
.video-box {
  position: relative;
}
.post-wrapper {
  background-color: rgb(252,252,252);
}
.voteResult {
  font-weight: bold;
}
.voteResult:hover {
  color: black;
}
.video {
  position: relative;
  top: 0;
  width: 100%;
}
.splitter {
  position: absolute;
  width: 2px;
  height: 50px;
  background: rgb(120,120,120);
  /* Skew */
  -webkit-transform: skew(20deg); 
  -moz-transform: skew(20deg); 
  -o-transform: skew(20deg);
  transform: skew(20deg);
}
.hidden {
  display: none;
}