.sticker-panel {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  background-color: rgba(30,30,30,1);
  height: auto;
  overflow: auto;
  text-align: center;
  color: white;
  padding: 1em;
}
.sticker-panel h2 {
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: .5em;
}

.stickers-index > li {
  width: 25%;
  text-align: center;
  height: 85px;
  margin-bottom: 1em
}

.stickers-index > li:hover {
  box-shadow: 0 3px 0 rgb(70,70,70);
}

.close-button {
  color: white;
  top: 0.6em;
  right: 0.6em;
  position: absolute;
}

.button-giraffe img {
  width: 90%;
  height: auto;
}

.button-add-sticker {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: block;
  padding-left: 32px;
  background-image: url('images/sticker_icon.png');
  background-repeat: no-repeat;
  background-position: 3px 50%;
}

.button-giraffe {
  box-sizing: padding-box;
  display: block;
  background-image: url('images/giraffe_regular.png');
  background-size: 64px auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  line-height: 64px;
  height: 64px;
  color: white;
  font-size: 1.6em;
  padding-top: 40px;
  text-decoration: none;
  vertical-align: middle;
}

.giraffe-angry  { background-image: url('images/giraffe_angry.png'); }
.giraffe-cry    { background-image: url('images/giraffe_cry.png'); }
.giraffe-drunk  { background-image: url('images/giraffe_drunk.png'); }
.giraffe-glasses{ background-image: url('images/giraffe_glasses.png'); }
.giraffe-kiss   { background-image: url('images/giraffe_kiss.png'); }
/*.giraffe-regular{ background-image: url('images/giraffe-regular.png'); }*/
.giraffe-smile  { background-image: url('images/giraffe_smile.png'); }
.giraffe-tongue { background-image: url('images/giraffe_tongue.png'); }