.button-add-sticker {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: block;
  padding-left: 32px;
  background-image: url('images/sticker_icon.png');
  background-repeat: no-repeat;
  background-position: 3px 50%;
}

.sticker-panel {
  position: absolute;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.button-giraffe {
  box-sizing: padding-box;
  display: inline-block;
  background-image: url('images/giraffe_regular.png');
  background-size: 64px auto;
  background-position: 4px 50%;
  background-repeat: no-repeat;
  width: 50%;
  line-height: 64px;
  height: 64px;
  padding-left: 74px;
  color: white;
  font-size: 1.6em;
  text-decoration: none;
  vertical-align: middle;
}

.giraffe-angry  { background-image: url('images/giraffe_angry.png'); }
.giraffe-cry    { background-image: url('images/giraffe_cry.png'); }
.giraffe-drunk  { background-image: url('images/giraffe_drunk.png'); }
.giraffe-glasses{ background-image: url('images/giraffe_glasses.png'); }
.giraffe-kiss   { background-image: url('images/giraffe_kiss.png'); }
/*.giraffe-regular{ background-image: url('images/giraffe-regular.png'); }*/
.giraffe-smile  { background-image: url('images/giraffe_smile.png'); }
.giraffe-tongue { background-image: url('images/giraffe_tongue.png'); }