.ut_ss {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  z-index: 100;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  text-align: center;
  color: rgb(52,52,52);
  background-repeat: repeat;
  background-position: 0 0;
}

.ut_ss header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8em;
  padding: 1.4em;
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.ut_ss header::after{
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image:        radial-gradient( 50% -10%, ellipse farthest-side, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100% );
  background-image:     -o-radial-gradient( 50% -10%, ellipse farthest-side, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100% );
  background-image:   -moz-radial-gradient( 50% -10%, ellipse farthest-side, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100% );
  background-image:-webkit-radial-gradient( 50% -10%, ellipse farthest-side, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100% );
  content: '';
}

.ut_ss header h1{
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
  margin: 0;
  padding: 0;
  color: rgba(179,30,17,1);
}

.ut_ss header h3{
  font-size: 1.5em;
  line-height: 1.1;
  color: #333333;
  margin: 0;
  padding: 0;
}

.ut_ss article{
  width: 90%;
  height: 95%;
  left: 5%;
  top: 5%;
  position: relative;
}

.ut_ss section{
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-top: -50px;
}

.ut_ss section:first-child{
  margin-top: 0;
}

.ut_ss section div.ut_ss_cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 5.3em 6em;
}



/***************   step   *************/

.ut_ss section.ut_ss_step.ut_ss_right div.ut_ss_cell:first-child,
.ut_ss section.ut_ss_step.ut_ss_left div.ut_ss_cell:last-child{
  width: 36%;
}

.ut_ss section.ut_ss_step.ut_ss_right div.ut_ss_cell:last-child,
.ut_ss section.ut_ss_step.ut_ss_left div.ut_ss_cell:first-child{
  width: 64%;
}

.ut_ss section.ut_ss_step.ut_ss_right div.ut_ss_cell:last-child{
  background-image:url('../images/arrow1_x1.png');
  background-position: 10% bottom;
}

.ut_ss section.ut_ss_step.ut_ss_left div.ut_ss_cell:first-child{
  background-image:url('../images/arrow2_x1.png');
  background-position: 60% bottom;
}

.ut_ss section.ut_ss_step.ut_ss_left h2,
.ut_ss section.ut_ss_step.ut_ss_left p{
  text-align: right;

}

.ut_ss section.ut_ss_step.ut_ss_right h2,
.ut_ss section.ut_ss_step.ut_ss_right p{
  text-align: left;
}


.ut_ss section.ut_ss_step {
  margin-bottom: 5em;
}

.ut_ss section.ut_ss_step div.ut_ss_cell{
  padding-bottom: 5em;
}

.ut_ss section.ut_ss_step .icon{
  width: 12em;
  height: 12em;
/*  margin-top: 30px;*/
  display: inline-block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.ut_ss section.ut_ss_step h2 {
  font-size: 2.8em;
  overflow: hidden;
  color: rgb(52,52,52);
  margin: 0;
  padding: 0 10px;
  font-family: Hermes, Arial, sans-serif;
  text-indent: 0;
  text-shadow: 1px 1px rgba(255,255,255,0.9);
}
.ut_ss section.ut_ss_step p {
  font-size: 1.6em;
  font-weight: normal;
  font-family: Hermes, Arial, sans-serif;
  margin: 0.2em 0 0 0;
  padding: 0 10px;
  text-indent: 0;
  text-shadow: 1px 1px rgba(255,255,255,0.7);
}

/***************   buttons   *************/

.ut_ss .btn {
  background-color: #ff4134;
  background-image:  -webkit-linear-gradient(top, rgba(190,25,0,1), rgba(154,20,0,1));
  background-image:     -moz-linear-gradient(top, rgba(190,25,0,1), rgba(154,20,0,1));
  background-image:       -o-linear-gradient(top, rgba(190,25,0,1), rgba(154,20,0,1));
  background-image:    linear-gradient(to bottom, rgba(190,25,0,1), rgba(154,20,0,1));
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  color: white;
  padding: 0 3em;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.4);
}

.ut_ss .btn:hover {
  background-color: #ff4134;
  background-image: -webkit-linear-gradient(bottom, #ff4134, #ac0f00);
  background-image: -moz-linear-gradient(bottom, #ff4134, #ac0f00);
  background-image: -o-linear-gradient(bottom, #ff4134, #ac0f00);
  background-image: linear-gradient(to top, #ff4134,#ac0f00);
}



/* Desktops and laptops ----------- */
@media only screen and (min-width : 450px) {
  .ut_ss {
    position: absolute;
    left:50%;
    top: 50%;
    width: 450px;
    height: 580px;
    margin-left: -225px;
    margin-top: -275px;
    padding-top: 8em;
  }
  .ut_ss header{
    display: block;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 450px) {
  .ut_ss {
    font-size: 0.7em;
    padding-top: 0;
  }

  .ut_ss header{
    display: none;
  }
}

/********************************************************************************
 * loading
 ********************************************************************************/
.utSplashScreen_loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(25,25,25,1);
}
